body{
    background-color: darksalmon;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: darkred;
    color: yellow;
    text-align: center;
}
h2{
    background-color: deepskyblue;
}
h3{
    color: darkblue;
}